body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #EBEBD3;
  
 }

 h1{
   color:#F18F01;
 }

 .header{
   background-color: #322A26;
   padding:10px;
   
 }

